<!-- <img id = 'banner' src="http://unitedpropertymgt.com/wp-content/uploads/2016/12/Miami-Bay-Club-Apartments-rendering-1-2.jpg" alt="Smiley face"> -->
<h1>Register</h1>

<%= render 'form', user: @user %>

<%= link_to 'Log In', :back %>
