<img id = 'banner' src="http://unitedpropertymgt.com/wp-content/uploads/2016/12/Miami-Bay-Club-Apartments-rendering-1-2.jpg" alt="Smiley face">
<div id = 'welcome'>
  <p>Welcome to Receivables Insights.Gather the reigns over your Multifamily
    portfolio's receivables with our interactive dashboards, legal proceedings
    tracker, and legal documents generator. Sign up today!
  </p>
</div>
