<!-- <img id = 'banner' src="http://unitedpropertymgt.com/wp-content/uploads/2016/12/Miami-Bay-Club-Apartments-rendering-1-2.jpg" alt="Smiley face"> -->
<div class="jumbotron">
  <div class="container">
    <div id = 'welcome'>
      <p class="greeting"><b>Welcome to Receivables Insights</b></p>
      <p>
        Gather the reigns over your Multifamily
        portfolio's receivables with our interactive dashboards, legal proceedings
        tracker, and legal documents generator. Sign up today!
      </p>
      <div id= "overlay">
        <a href="sessions#new" class= "btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</div>
