<h1>Editing Eviction Case</h1>

<%= render 'form', eviction_case: @eviction_case %>

<%= link_to 'Show', @eviction_case %> |
<%= link_to 'Dashboard', eviction_cases_path %>
<%= link_to 'Back', :back %>
